<launch>

<node pkg="amcl" type="amcl" name="amcl4" output="screen">
		
    <rosparam file="$(find robot4)/cfg/amcl_params.yaml" command="load" />
		
    <!-- We have a holonomic robot! Overwrite yaml config here! -->
		<param name="odom_model_type" value="omni" />
		<param name="initial_pose_x" value="-1" />
		<param name="initial_pose_y" value="3" />
		<param name="initial_pose_a" value="0" />
	
    <param name="odom_frame_id"             value="robot4_odom"/>
    <param name="base_frame_id"             value="robot4_base_footprint"/>
    <param name="global_frame_id"           value="map"/>
    <param name="resample_interval"         value="1"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    
    <remap from="scan"                      to="robot4_scan"/>
    <remap from="initialpose"               to="/robot4/initialpose"/>
    <remap from="amcl_pose"                 to="/robot4/amcl_pose"/>
    <remap from="particlecloud"             to="/robot4/particlecloud"/>

  </node>

</launch>
