<?xml version="1.0" ?>
<launch>
 
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot1)/worlds/house.world" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
  </include>  
 
<param name="robot_description" command="$(find xacro)/xacro '$(find robot1)/urdf/robot_description_urdf.urdf'" />

    <node name="robot_state_publisher1" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher1" pkg="joint_state_publisher" type="joint_state_publisher">

    </node>
    <node name="urdf_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x -1 -y 0 -z 0  -model robot1 -param robot_description" />



  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot1)/maps/aa.yaml" >
    <param name="frame_id" value="map" />
  </node>

</launch>
